---
http_interactions:
- request:
    method: post
    uri: https://api.typeform.io/v0.4/designs
    body:
      encoding: UTF-8
      string: '{"colors":{"question":"#ff3300","background":"#ff0033","answer":"#0033ff","button":"#00ff33"},"font":"Arvo"}'
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"id":"5SWktYqkvg","colors":{"answer":"#0033ff","background":"#ff0033","button":"#00ff33","question":"#ff3300"},"font":"Arvo","version":"v0.4"}
      effective_url: https://api.typeform.io/v0.4/designs
  recorded_at: Sat, 06 Feb 2016 14:51:58 GMT
recorded_with: VCR 2.9.3
