---
http_interactions:
- request:
    method: get
    uri: https://api.typeform.io/latest/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"description":"Build API for creating forms awesomely","documentation":"https://docs.typeform.io/","name":"Typeform I/O Build API","support":"support@typeform.io","time":"2015-09-26 20:04:00.550727979 +0000 UTC","version":"v0.4"}
      effective_url: https://api.typeform.io/latest/
  recorded_at: Sat, 26 Sep 2015 20:04:00 GMT
recorded_with: VCR 2.9.3
