---
http_interactions:
- request:
    method: post
    uri: https://api.typeform.io/v0.4/forms
    body:
      encoding: UTF-8
      string: '{"title":"My Example Form","fields":[{"type":"yes_no","question":"Shall
        we continue?","ref":"shall_continue?"},{"type":"statement","question":"Thanks!"},{"type":"statement","question":"Wut?","ref":"shall_not_continue"}],"tags":["example","logic-jumps"],"jumps":[{"to":"shall_not_continue","from":"shall_continue?","if_answer":false}]}'
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"validation_error","field":"jumps","description":"Additional
        property jumps is not allowed"}

'
      effective_url: https://api.typeform.io/v0.4/forms
  recorded_at: Thu, 14 Apr 2016 17:36:22 GMT
recorded_with: VCR 2.9.3
