---
http_interactions:
- request:
    method: post
    uri: https://api.typeform.io/v0.4/images
    body:
      encoding: UTF-8
      string: '{"url":"https://upload.wikimedia.org/wikipedia/commons/9/92/Soup_Spoon.jpg"}'
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"id":"cpH8GWHLmU","type":"choice","url":"https://upload.wikimedia.org/wikipedia/commons/9/92/Soup_Spoon.jpg","filename":"choice-FVrwwSGjywKUhNB5kh8RpgSfZqSMKfvH-default","height":230,"width":230}
      effective_url: https://api.typeform.io/v0.4/images
  recorded_at: Sun, 18 Oct 2015 13:11:55 GMT
[...]
- request:
    method: post
    uri: https://api.typeform.io/v0.4/forms
    body:
      encoding: UTF-8
      string: '{"title":"Picture Typeform","fields":[{"type":"picture_choice","question":"Spoon
        or fork?","choices":[{"label":"Spoon","image_id":"cpH8GWHLmU"},{"label":"Fork","image_id":"Cm7PEGWsJ9"}]}],"tags":["example","with-picture"]}'
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"id":"cg4zpujD3A","title":"Picture Typeform","fields":[{"id":348456,"type":"picture_choice","question":"Spoon or fork?","choices":[{"label":"Spoon","image_id":"cpH8GWHLmU"},{"label":"Fork","image_id":"Cm7PEGWsJ9"}]}],"_links":[{"rel":"self","href":"https://api.typeform.io/v0.4/forms/cg4zpujD3A"},{"rel":"form_render","href":"https://forms.typeform.io/to/cg4zpujD3A"}],"tags":["example","with-picture"]}
      effective_url: https://api.typeform.io/v0.4/forms
  recorded_at: Sun, 18 Oct 2015 13:11:58 GMT
[...]
- request:
    method: post
    uri: https://api.typeform.io/v0.4/images
    body:
      encoding: UTF-8
      string: '{"url":"https://upload.wikimedia.org/wikipedia/commons/7/7c/Assorted_forks.jpg"}'
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"id":"RkEWFxSx65","type":"choice","url":"https://upload.wikimedia.org/wikipedia/commons/7/7c/Assorted_forks.jpg","filename":"choice-byBWrtP9vs9RiTXZSGinECbVZvcH4Utp-default","height":230,"width":230}
      effective_url: https://api.typeform.io/v0.4/images
  recorded_at: Sun, 18 Oct 2015 13:11:58 GMT
recorded_with: VCR 2.9.3
