---
http_interactions:
- request:
    method: post
    uri: https://api.typeform.io/latest/images
    body:
      encoding: UTF-8
      string: '{"url":"https://upload.wikimedia.org/wikipedia/commons/9/92/Soup_Spoon.jpg"}'
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"id":"uAWgz7yfZf","type":"choice","url":"https://upload.wikimedia.org/wikipedia/commons/9/92/Soup_Spoon.jpg","filename":"choice-7jeACNrcnUwvEMWhvV5yCyQneUM2pRM7-default","height":230,"width":230}
      effective_url: https://api.typeform.io/latest/images
  recorded_at: Wed, 07 Oct 2015 17:53:51 GMT
[...]
- request:
    method: post
    uri: https://api.typeform.io/latest/forms
    body:
      encoding: UTF-8
      string: '{"title":"Picture Typeform","fields":[{"type":"picture_choice","question":"Spoon
        or fork?","choices":[{"label":"Spoon","image_id":"uAWgz7yfZf"},{"label":"Fork","image_id":"rmY2eMwZRt"}]}],"tags":["example","with-picture"]}'
    headers:
      X-API-TOKEN:
      - "<API-KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"id":"CA6sdnPRLv","title":"Picture Typeform","fields":[{"id":301507,"type":"picture_choice","question":"Spoon or fork?","choices":[{"label":"Spoon","image_id":"uAWgz7yfZf"},{"label":"Fork","image_id":"rmY2eMwZRt"}]}],"_links":[{"rel":"self","href":"https://api.typeform.io/v0.4/forms/CA6sdnPRLv"},{"rel":"form_render","href":"https://forms.typeform.io/to/CA6sdnPRLv"}],"tags":["example","with-picture"]}
      effective_url: https://api.typeform.io/latest/forms
  recorded_at: Wed, 07 Oct 2015 17:53:52 GMT
recorded_with: VCR 2.9.3
