---
http_interactions:
- request:
    method: post
    uri: https://api.typeform.io/latest/forms
    body:
      encoding: UTF-8
      string: '{"title":"My Example Form","fields":[{"type":"statement","question":"This
        is a test!"},{"type":"short_text","question":"What do you think?","required":true,"tags":["opinion"]}],"tags":["example","first-attempt"]}'
    headers:
      X-API-TOKEN:
      - ***REMOVED***
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"id":"qjsYW3HnHh","title":"My Example Form","fields":[{"id":267347,"type":"statement","question":"This is a test!"},{"id":267348,"type":"short_text","question":"What do you think?","required":true,"tags":["opinion"]}],"_links":[{"rel":"self","href":"https://api.typeform.io/v0.4/forms/qjsYW3HnHh"},{"rel":"form_render","href":"https://forms.typeform.io/to/qjsYW3HnHh"}],"tags":["example","first-attempt"]}
      effective_url: https://api.typeform.io/latest/forms
  recorded_at: Sat, 26 Sep 2015 19:17:53 GMT
recorded_with: VCR 2.9.3
